<div class="row">
				<ul>
					<i> <h1>
							{{post.title}}
						</h1> 
					</i>
					<i> <p> {{post.description}}</p> </i>
				</ul>
				


	<form   action="{% url 'all_posts:home'%}"> <input style="height:40px ; width: 120px;" type="submit" value="All Post">  </form>  	
		{% csrf_token %}


</div>




<div class="row"> 


			<div  class="product-details-frame">
					       <h3 class="frame-title">Add Your Comment</h3>
					       <form  method = "POST"  action= " {% url 'all_posts:post_detail' post.slug %} " id = "commentForm"  enctype="multipart/form-data" >
    							{% csrf_token %}
									<p> Enter Your Name	{{form.name}} </p>
									<h3>Enter Your Comment</h3>
									<h4>	{{form.body}} </h4>
						
     								<button style="height:40px ; width: 200px;" type="submit" class="btn btn-primary  m-3 " > Drop Your Comment </button>
									<p> ({{post.comments.all|length}}) comments </p>
    
							</form>


					<div class="card" style="border-reduis:7px;" id = "all_comment">
						{% for comment in comment_1 %}
							<div class="card-body">
								<div> 
									<h4 class=""> Date: {{comment.created_on}}</h4>
									<h4> Name: {{comment.name}} </h4>
									<h4 class=""> Comment: {{comment.body}}</h4>
									<hr>
								</div>
							</div>
						{% endfor %}
					     
					 	           
					</div>
					 	

			</div>

					


				



		</div>

</div>


















