<div class="row">
				<ul>
					<i> <h1>
							{{post.title}}
						</h1> 
					</i>
					<i> <p> {{post.description}}</p> </i>
				</ul>
				


	<form   action="{% url 'all_posts:home'%}"> <input type="submit" value="All_Post">  </form>  	
		{% csrf_token %}


</div>




<div class="row"> 


			<div  class="product-details-frame">
					       <h3 class="frame-title">Add Your Comment</h3>
					       <form  method = "POST"  action= " {% url 'all_posts:post_detail' post.slug %} " id = "commentForm"  enctype="multipart/form-data" >
    							{% csrf_token %}
									<p> Enter Your Name	{{form.name}} </p>
									<h4>	{{form.body}} </h4>
						
     								<button type="submit" class="btn btn-primary  m-3 " > Drop Your Comment </button>
									<p> ({{post.comments.all|length}}) comments </p>
    
							</form>


					<div class="card" style="border-reduis:7px;" id = "all_comment">
						{% for comment in comment_1 %}
							<div class="card-body">
								<div> 
									<p class="">{{comment.created_on}}</p>
									<h3> {{comment.name}} </h3>
									<p class="">{{comment.body}}</p>
									<hr>
								</div>
							</div>
						{% endfor %}
					     
					 	           
					</div>
					 	

			</div>

					


				



		</div>

</div>


















